<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <div id ="app" >
            <button v-on:click="handleClick">クリック</button>
            {{ count }}
            <button v-on:click="count++"></button>

            <div v-on:click.right="handler">example</div>
            <!-- 右ボタンを押した時のコンテキストメニューを表示させない -->
            <div v-on:click.right.prevent="handler">example</div>

            <textarea v-model="message"></textarea>

            <label><input type="checkbox" v-model="val" value="A">A</label>
            <label><input type="checkbox" v-model="val" value="B">B</label>
            <label><input type="checkbox" v-model="val" value="C">C</label>
            <p v-model="val">{{ val }}</p>

            <label><input type="radio" v-model="value" value="A">A</label>
            <label><input type="radio" v-model="value" value="B">B</label>
            <label><input type="radio" v-model="value" value="C">C</label>
            <p v-model="value">{{ value }}</p>

            <input type="text" v-model.number="price">
            <p>{{ price }}</p>

            <input type="text" v-model.trim="text">
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>
            <p>{{ text }}</p>

            <div v-on:click="scrollTop">
                ページ上部に移動
            </div>



        </div>

    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/smooth-scroll@12.1.5"></script>
    <script src="main3.js"></script>
    </html>